@font-face {
    font-family: 'legothick';
    src : url(fonts/Legothick.ttf) format('truetype');
}
body{
    margin: 0;
    background-image: url(image/fond.jpg);
}
header {
    display: flex;
    justify-content: center;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
h1{
    font-family: "legothick", sans-serif;
    width: 270px;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    background-color: red;

}
h2 {
    font-family: "legothick", sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
}
main{
    display: flex;
    justify-content: space-around;
}
.player{
    width: 20%;
    text-align: center;
    background: white;
    border: 5px solid yellow;
    font-weight: bold;
}

.background_red {
    background-color: red;
}
table {
    margin: 0;
    border-spacing: 0;
    background: white;
    border: 4px solid black;
}
table td {
    width : 60px;
    height : 60px;
    border : 1px solid black;
    margin: 0;
    padding: 0;
    text-align : center;
}
td img {
    height : 92%;
}

.obstacle {
    background-color: grey;
}

.arme img{
    height: 95%;
}
.fiche_arme {
    display: flex;
    justify-content: center;
}
.arme_equipee {
    width: 60px;
    border: 2px solid grey;
    
}
.image_profil{
    width: 104px;
    height: 104px;
    margin-top: 15px;
}
@media screen and (max-width: 1100px){
    header {
        height: 70px; 
    }
    h1 {
        margin: 0;
    }
    main {
        width: 100%;
        flex-wrap: wrap;
    }
    table {
        width: auto;
        height: auto;
        align-self: center;
        order: 1;
    }
    .player {
        justify-self: flex-end;
        order: 2;
        width: 45%;
        height :160px;
        padding: 10px;
    }
    h2, h3 {
        margin: 0;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    .player p {
        margin: 0;
    }
    .objet img {
        height : 90%;
        margin: 0;
        padding: 0;
    }
    .arme_equipee {
        width: 20px;
    }
    .image_profil{
        width: 48px;
        height: 48px;
        margin-top: 0px;
    }

}
@media screen and (max-width: 615px){
    header {
        height: 70px; 
    }
    h1 {
        margin: 0;
    }
    main {
        width: 100%;
        flex-wrap: wrap;
    }
    .player {
        justify-self: flex-end;
        order: 2;
        width: 40vw;
        height : 160px;
        padding: 10px;
    }
    h2, h3 {
        font-size: 20px;
        margin: 0;
    }
    table {
        width: 100vw;
        height: 100vw;
        justify-self: flex-start;
        order: 1;
    }
    table td {
        width: 10vw;
        height: 10vw;
        padding: 0;
    }
    .objet img {
        width: 95%;
        height : 95%;
        margin: 0;
        padding: 0;
    }
}