table {
    margin: auto;
    border-spacing: 0;
}
table td {
    width : 55px;
    height : 55px;
    border : 2px solid black;
    margin: 0;
    padding: 0;
    text-align : center;
}
td img {
    width : 48px;
    height : 48px;
}